body {
    margin: 0;
    padding: 0;
    background-image: url("../public/wallpaper.jpg"); /* Ruta de tu imagen de fondo */
    background-repeat: repeat; /* La imagen se repetirá en ambas direcciones */
    height: 100vh; /* Altura del contenedor, en este caso, ocupará el 100% del alto de la ventana */
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(31,31,31,0.7898472938);
    color: #ffffff;
    padding: 10px 20px;
    justify-content: space-between;
}


.logo img {
    width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    margin-right: 10px;
}


#newGame {
    margin-left: 70px;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #fff; /* Borde de 2 píxeles de ancho y color blanco */
    border-radius: 20px; /* Esquinas redondeadas */
    color: #fff; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-decoration: none; /* Elimina el subrayado del texto (por si es un enlace) */
    font-size: 16px; /* Tamaño del texto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color de fondo y texto */
}

/* Estilos cuando el mouse pasa sobre el botón */
#newGame:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar sobre el botón */
    color: #000; /* Cambia el color del texto al pasar sobre el botón */
}


.titulo {
    font-size: 40px;
    text-align: left;
}

.gridcontainer {
    justify-content: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Tamaño de cada columna */
    grid-template-rows: repeat(3, 100px); /* Tamaño de cada fila */
    gap: 10px; /* Espacio entre los cuadrados */
}

.griditem {
    background-color: rgba(31,31,31,0.7898472938);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff; /* Contorno blanco */
    color: #fff; /* Color de texto blanco */
    font-size: 24px; /* Tamaño de la letra */
}

.griditem:hover{
    background-color: #fff; /* Cambia el color de fondo al pasar sobre el botón */
    color: #000; /* Cambia el color del texto al pasar sobre el botón */
}

.popup {
    position: fixed; /* Fija el popup al viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    z-index: 2; /* Coloca el popup por encima del fondo opaco */
}

.popup h2 {
    margin-bottom: 10px;
}

.popup input,
.popup select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.popup button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#msg {
    display: flex;
    font-size: 50px;
    justify-content: center;
}

.texti{
    background-color: rgba(31,31,31,0.7898472938);
    color: #fff;
}

.logofoto {
    display: flex;
    justify-content: center;
    align-items: center;
}



